*
{
    margin: 0;
    padding: 0;
}

/*navigation tabs*/
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color:purple;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a
{
    border: 1px solid purple;
}

.main-nav li a:hover
{
    border: 1px solid purple;
}

body
{
    font-family: monospace;
}

.row
{
    max-width: 1200px;
    margin: auto;
}

/* Mi Libreta middle center welcome title*/
.homepagetitle
{
    width: 1200px;
    margin-left: 0;
    margin-top: 0;
}

h1
{
    color: purple;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 200px;
}

.Videostitle
{
    width: 1200px;
    margin-left: 0;
    margin-top:0;
}

.nosotros-mision
{
    color: purple;
    font-size: 40px;
    text-align: left;
    margin-top: 200px;
}

.sobre-la-creadora
{
    color: purple;
    font-size: 40px;
    text-align: left;
    margin-top: 200px;
}

p
{
    color: black;
    font-size: 15px;
    text-align:left;
    margin-top: 300px;
}